.success {
  stroke: #198754;
  stroke-width: 1;
  fill: #198754;
}

.warning {
  stroke: #ffca2c;
  stroke-width: 1;
  fill: #ffc107;
}

.pure-py {
  stroke: #90EE90;
  stroke-width: 1;
  fill: #90EE90;
}

line.wheel-line {
  stroke: #333;
}

text.wheel-text {
  fill: #333;
}

@media (prefers-color-scheme: dark) {
  line.wheel-line {
    stroke: #ccc;
  }
  text.wheel-text {
    fill: #ccc;
  }

}
