---
name: Deploy

on:
  push:
    branches:
      - main
  # Scheduled tasks only run on the main branch.
  schedule:
    - cron: '0 10 * * *'  # Daily at 10AM UTC.
  workflow_dispatch:

jobs:
  deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Clone code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install build dependencies
        run: |
          python -m pip install -r requirements.txt

      - name: Fetch latest packages data and build the website
        run: |
          make generate

      - name: Collect the built files
        run: |
          mkdir build/
          cp index.html build/
          cp wheel.css build/
          cp wheel.svg build/
          cp results.json build/

      - name: Deploy the built files
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build # The folder the action should deploy.
